<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Win95</title>
  </head>
  <body>
    <main class="container">
      <article class="desktop-content">
        <!-- <div class="desktop-label" id="computer">
          <img
            src="./assets/images/computer.png"
            alt="icon"
            class="desktop-label-icon"
            draggable="false"
          />
          <p class="desktop-label-title">My Computer</p>
        </div>
        <div class="desktop-label" id="note">
          <img
            src="./assets/images/note.png"
            alt="icon"
            class="desktop-label-icon"
            draggable="false"
          />
          <p class="desktop-label-title">resume.doc</p>
        </div> -->
      </article>
      <footer></footer>
    </main>
  </body>
</html>
