<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Win95</title>
  </head>
  <body>
    <main class="container">
      <article class="desktop_content" draggable="false">
        <!-- rendered desktop content from javaScript -->
        <div class="desktop_window desktop_border_outset">
          <div class="desktop_window_header">
            <div class="desktop_window_header_wrapper">
              <img
                src="./assets/images/computer.png"
                alt="computer"
                class="desktop_window_header_icon"
              />
              <p class="desktop_window_header_title">My Computer</p>
            </div>
            <div
              class="desktop_window_header_wrapper"
              id="desktop_window_header_btns"
            >
              <button
                class="desktop_button desktop_window_header_btn"
                data_action="collapse"
              ></button>
              <button
                class="desktop_button desktop_window_header_btn"
                data_action="resize"
              ></button>
              <button
                class="desktop_button desktop_window_header_btn"
                data_action="close"
              >
                <i class="ico_times" role="img" aria_label="Cancel"></i>
              </button>
            </div>
          </div>
          <div class="desktop_window_body"></div>
        </div>
      </article>

      <footer class="desktop_footer">
        <button class="desktop_button desktop_footer_btn">Start</button>
        <div class="desktop_footer_tabs">
          <div class="desktop_footer_tab desktop_border_outset">
            <img
              class="desktop_footer_tab_img"
              src="../assets/images/computer.png"
              alt="tab"
            />
            <p class="desktop_footer_tab_title">My Computer</p>
          </div>
          <div class="desktop_footer_tab desktop_border_outset">
            <img
              class="desktop_footer_tab_img"
              src="../assets/images/computer.png"
              alt="tab"
            />
            <p class="desktop_footer_tab_title">My Computer</p>
          </div>
          <div class="desktop_footer_tab desktop_border_outset">
            <img
              class="desktop_footer_tab_img"
              src="../assets/images/computer.png"
              alt="tab"
            />
            <p class="desktop_footer_tab_title">My Computer</p>
          </div>
          <div class="desktop_footer_tab desktop_border_outset">
            <img
              class="desktop_footer_tab_img"
              src="../assets/images/computer.png"
              alt="tab"
            />
            <p class="desktop_footer_tab_title">My Computer</p>
          </div>
        </div>
        <div class="desktop_footer_panel">
          <p class="desktop_footer_panel_clock">14:01</p>
        </div>
      </footer>
    </main>
  </body>
</html>
