<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Win95</title>
  </head>
  <body>
    <main class="desktop_content" draggable="false">
      <div class="desktop_label" data-target="resume">
        <img src="../assets/images/note.png" alt="resume" draggable="false" />
        <p>resume.txt</p>
      </div>
      <div class="desktop_label" style="top: 100px" data-target="computer">
        <img
          src="../assets/images/computer.png"
          alt="computer"
          draggable="false"
        />
        <p>My computer</p>
      </div>
      <article class="desktop_window desktop_border_outset" id="window_resume">
        <header class="desktop_window_header" data-target="resume">
          <div>
            <img
              src="./assets/images/note.png"
              alt="computer"
              class="desktop_window_header_icon"
            />
            <p class="desktop_window_header_title">resume - Notepad</p>
          </div>
          <div id="desktop_window_header_btns" data-target="resume">
            <button
              class="desktop_window_header_btn desktop_button"
              data-action="collapse"
            ></button>
            <button
              class="desktop_window_header_btn desktop_button"
              data-action="resize"
            ></button>
            <button
              class="desktop_window_header_btn desktop_button"
              data-action="close"
            >
              <i class="ico-times" role="img" aria_label="Cancel"></i>
            </button>
          </div>
        </header>
        <section class="desktop_window_body">
          <nav class="desktop_window_body_header">
            <a
              rel="noopener"
              href="https://github.com/999MeshDi666"
              target="_blank"
              class="desktop_window_body_header_link"
              title="github"
              >Github</a
            >
            <a
              rel="noopener"
              href="https://api.whatsapp.com/send/?phone=77076627568"
              target="_blank"
              class="desktop_window_body_header_link"
              title="whatsapp"
              >Whatsapp</a
            >
            <a
              rel="noopener"
              href="https://www.linkedin.com/in/madi-yegeubekov-060479248/"
              target="_blank"
              class="desktop_window_body_header_link"
              title="linkedIn"
              >LinkedIn</a
            >
            <a
              href="mailto:havkpzz@gmail.com"
              target="_blank"
              class="desktop_window_body_header_link"
              title="gmail"
            >
              Gmail</a
            >
          </nav>
          <div
            class="window_body_content desktop_border_inset"
            id="window_body_resume"
          >
            <div class="resume_content">
              <div class="resume_content_header">
                ----------------------------------------------------------------------
                <h1>Hi, my name is Yegeubekov Madi!</h1>
                <h2>
                  This resume for someone who is interested in works. Let's keep
                  in touch!
                </h2>
                ----------------------------------------------------------------------
              </div>
              <div class="resume_content_body">
                <p>
                  Developer with experience in creating and implementing
                  user-oriented applications.<br />
                  I've worked on several projects using modern languages,
                  frameworks and libraries.
                </p>

                <div>
                  ----------
                  <h3>EDUCATION:</h3>
                  ----------
                  <ul>
                    <li>
                      Bachelor of Information System, Almaty Polytechnical
                      College 2016-09 - 2020-05
                    </li>
                    <li>
                      Bachelor of Computer Science, Satbayev University 2020-09
                      - 2023-05
                    </li>
                  </ul>
                </div>

                <div>
                  -------
                  <h3>SKILLS:</h3>
                  -------
                  <ul>
                    <li>
                      <b>Technical Skills:</b> HTML, CSS, JavaScript,
                      TypeScript, React, React Native, Dart, Flutter, Figma,
                      Webpack, Vite, Github, Gitlab.
                    </li>
                    <li>
                      <b>Technical Skills (Irrelevant):</b> Svelte, Node js,
                      Express js, Python, Django, C#, Oracle sql, PostgreSQL,
                      MongoDB, Firebase.
                    </li>
                    <li><b>Languages:</b> Kazakh, Russian, English</li>
                  </ul>
                </div>

                <div>
                  -----------
                  <h3>EXPERIENCE:</h3>
                  -----------
                  <div>
                    <div>
                      <p>Frontend developer | FINQ</p>
                      <p>2024-04 - present | Almaty, Kazakhstan</p>
                      <ul>
                        <li>
                          Development of an application for the provision of
                          financial services to factoring organizations.
                        </li>
                        <li>
                          Testing the functionality of the application, writing
                          unit, integration tests.
                        </li>
                        <li>
                          Development on the technology stack: javascript,
                          typescript, react, material ui, berry template, vite,
                          vitest, redux-toolkit, figma
                        </li>
                      </ul>
                    </div>
                    <div>
                      <p>Frontend developer | Blockchain & Big Data LAB</p>
                      <p>2024-04 - 2024-11 | Almaty, Kazakhstan</p>
                      <ul>
                        <li>
                          Development and support of enterprise applications for
                          companies in various industries
                        </li>
                        <li>
                          Development on the technology stack: javascript,
                          typescript, react, material ui, redux-toolkit, figma
                        </li>
                      </ul>
                    </div>
                    <div>
                      <p>Backend Developer Intern | Centersoft</p>
                      <p>2020-07 - 2020-08 | Almaty, Kazakhstan</p>
                      <ul>
                        <li>
                          Development of the server part of the platform to
                          support the state sectors.
                        </li>
                        <li>
                          Development on the technology stack: python, django,
                          postgre sql.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
      <article
        class="desktop_window desktop_border_outset"
        id="window_computer"
      >
        <header class="desktop_window_header" data-target="computer">
          <div>
            <img
              src="./assets/images/computer.png"
              alt="computer"
              class="desktop_window_header_icon"
            />
            <p class="desktop_window_header_title">My computer</p>
          </div>
          <div id="desktop_window_header_btns" data-target="computer">
            <button
              class="desktop_window_header_btn desktop_button"
              data-action="collapse"
            ></button>
            <button
              class="desktop_window_header_btn desktop_button"
              data-action="resize"
            ></button>
            <button
              class="desktop_window_header_btn desktop_button"
              data-action="close"
            >
              <i class="ico-times" role="img" aria_label="Cancel"></i>
            </button>
          </div>
        </header>
        <section class="desktop_window_body">
          <nav class="desktop_window_body_header">
            <a
              rel="noopener"
              href="https://github.com/999MeshDi666"
              target="_blank"
              class="desktop_window_body_header_link"
              title="github"
              >Github</a
            >
            <a
              rel="noopener"
              href="https://api.whatsapp.com/send/?phone=77076627568"
              target="_blank"
              class="desktop_window_body_header_link"
              title="whatsapp"
              >Whatsapp</a
            >
            <a
              rel="noopener"
              href="https://www.linkedin.com/in/madi-yegeubekov-060479248/"
              target="_blank"
              class="desktop_window_body_header_link"
              title="linkedIn"
              >LinkedIn</a
            >
            <a
              href="mailto:havkpzz@gmail.com"
              target="_blank"
              class="desktop_window_body_header_link"
              title="gmail"
            >
              Gmail</a
            >
          </nav>
          <div
            class="window_body_content desktop_border_inset"
            id="window_body_computer"
          >
            <div class="my_projects_content">
              <div class="desktop_label">
                <img
                  src="../assets/images/folder.png"
                  alt="flexbox_cosmo_adventure"
                />
                <a
                  href="https://flexbox-cosmo-adventure-nwyragrcr-999meshdi666.vercel.app/"
                  target="_blank"
                  rel="noopener"
                  style="display: block"
                  >Flexbox cosmo adventure</a
                >
              </div>
              <div class="desktop_label" style="left: 140px">
                <img
                  src="../assets/images/folder.png"
                  alt="flexbox_cosmo_adventure"
                />
                <a
                  href="https://github.com/999MeshDi666/green_food_flutter"
                  target="_blank"
                  rel="noopener"
                  style="display: block"
                  >Green food</a
                >
              </div>
            </div>
          </div>
        </section>
      </article>
    </main>
    <footer class="desktop_footer">
      <div class="desktop_footer_panel desktop_border_outset">
        <aside class="desktop_footer_panel_aside">
          <h3>999MeshDi666</h3>
        </aside>
        <section class="desktop_footer_panel_content">
          <div class="desktop_footer_panel_content_label" data-target="resume">
            <img src="../assets/images/note.png" alt="resume" />
            <p>resume.txt</p>
          </div>
          <div
            class="desktop_footer_panel_content_label"
            data-target="computer"
          >
            <img src="../assets/images/computer.png" alt="computer" />
            <p>My computer</p>
          </div>
        </section>
      </div>
      <button class="desktop_footer_btn desktop_button">Start</button>
      <div class="desktop_footer_tabs">
        <div
          class="desktop_footer_tab desktop_border_outset"
          id="footer_tab_resume"
          data-target="resume"
        >
          <img
            class="desktop_footer_tab_img"
            src="../assets/images/note.png"
            alt="tab"
          />
          <p class="desktop_footer_tab_title">resume.txt</p>
        </div>
        <div
          class="desktop_footer_tab desktop_border_outset"
          id="footer_tab_computer"
          data-target="computer"
        >
          <img
            class="desktop_footer_tab_img"
            src="../assets/images/computer.png"
            alt="tab"
          />
          <p class="desktop_footer_tab_title">My computer</p>
        </div>
      </div>

      <div class="desktop_footer_toolbar">
        <p class="desktop_footer_toolbar_clock">0:00</p>
      </div>
    </footer>
  </body>
</html>
